
<%= render partial: 'shared/navbar' %>

<div class="recipe-show-page">
  <div class="recipe-header">
    <h2><%= @recipe.name %></h2>
    <div class="top-line">
      <p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
      <p>
        <% if current_user == @recipe.user %>
          <% if @recipe.public %>
            <%= link_to 'Make Private', recipe_path(@recipe, toggle_recipe_public: true), method: :patch, class: 'btn btn-primary btn-sm' %>
          <% else %>
            <%= link_to 'Make Public', recipe_path(@recipe, toggle_recipe_public: true), method: :patch, class: 'btn btn-primary btn-sm' %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
  <p>Description: <%= @recipe.description %></p>
  <h3>Required Food Items</h3>
  <div class="recipe-show-button-container">
  <%= link_to 'Generate shopping list', shopping_list_path %>
  <% if current_user == @recipe.user %>      
      <%= link_to 'Add Ingredient', add_ingredient_recipe_path(@recipe), class: 'btn btn-primary' %>
    <% end %>
    </div>
  <table class="table table-bordered">
      <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Action</th> <!-- Add an Action column -->
          </tr>
      </thead>
      <tbody>
        <% @recipe_foods.each do |recipe_food| %>                        
          <tr>
              <td><%= Food.find_by(id: recipe_food.food_id).name %></td>
                <td><%= recipe_food.quantity %></td>
                <td><%= Food.find_by(id: recipe_food.food_id).price * recipe_food.quantity %></td>
                <td>
                  <div class="md:flex justify-between px-3">
                  <a href="#" class="font-medium text-blue-600 underline hover:no-underline">Modify</a>
                  <%= link_to 'Remove', recipe_food_path(@recipe.id, Food.find_by(id: recipe_food.food_id).id), class: "font-medium text-blue-600 underline hover:no-underline", data: { "turbo-method": :delete } %>
                  </div>
                </td>
              </tr>
        <% end %>
      </tbody>

  </table>
</div>
