<%= render partial: 'shared/navbar' %>

<div class="recipe-show-page">
  <div class="recipe-header">
    <h2><%= @recipe.name %></h2>
    <div class="top-line">
      <p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
      <p>
        <% if current_user == @recipe.user %>
          <% if @recipe.public %>
            <%= link_to 'Make Private', recipe_path(@recipe, toggle_recipe_public: true), method: :patch, class: 'btn btn-primary btn-sm' %>
          <% else %>
            <%= link_to 'Make Public', recipe_path(@recipe, toggle_recipe_public: true), method: :patch, class: 'btn btn-primary btn-sm' %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
  <p>Description: <%= @recipe.description %></p>

  <h3>Required Food Items</h3>
  <div class="recipe-show-button-container">
   <%= link_to 'Generate shopping list', shopping_list_path %>
    <% if current_user == @recipe.user %>      
      <%= link_to 'Add Ingredient', add_ingredient_recipe_path(@recipe), class: 'btn btn-primary' %>
    <% end %>
  </div>
    
     <% if @recipe.recipe_foods.any? %>
        <table class="table table-striped table-bordered mt-2">
					<thead>
						<tr>
						  <th scope="col">#</th>
							<th scope="col">Food</th>
							<th scope="col">Quantity</th>
							<th scope="col">Value</th>
							<th scope="col" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
            <% @recipe.recipe_foods.each_with_index do |food_recipe, index| %>
              <tr>
                <td><%= index + 1 %></td>										
                <td><%=food_recipe.food.name %></td>
                <td>
                  <%= food_recipe.quantity.to_i %>
                  <%= food_recipe.food.measurement_unit %>
                </td>
                <td>
                  <% if food_recipe.quantity.present? && food_recipe.food.price.present? %>
                      $<%= food_recipe.quantity * food_recipe.food.price %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td class="d-flex justify-content-center justify-content-around">
                  <% if can? :manage, @recipe %>
                    <%= link_to 'Modify', edit_recipe_recipe_food_path(@recipe, food_recipe), class: 'btn btn-danger btn-sm' %>
                    <%= button_to "Remove", recipe_recipe_food_path(@recipe, food_recipe), class: "btn btn-danger", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
                  <% else %>
                    NA
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
			  </table>
      <% end %>
</div>

<%= link_to 'Back to Recipes', recipes_path %>