<%= form_with(model: @recipe_food, url: recipe_recipe_foods_path, local: true) do |form| %>
  <div class = "mt-4 p-2">
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.collection_select :food_id, @foods, :id, :name, { prompt: '.. Select a Food ..' }, id: 'food-select'%>

    <% if @recipe_food.errors.any? %>
        <p class="text-danger mb-0">
          <%= @recipe_food.errors[:food_id].first %>
        </p>
    <% end %>
  </div>

  <div class = "mt-2 p-2">
    <%= form.number_field :quantity,
        autofocus: true,
        autocomplete: 'quantity',
        placeholder: 'Enter quantity',
        class: 'form-control'
    %>
    <% if @recipe_food.errors.any? %>
        <p class="text-danger mb-0">
          <%= @recipe_food.errors[:quantity].first %>
        </p>
    <% end %>
  </div>

  <div class="actions text-center mt-4">
    <%= form.submit 'Add', class: 'btn btn-dark btn-sm  px-4' %>
    <%= link_to 'Cancel', recipe_path(@recipe), class: "btn btn-dark btn-sm px-3" %>
  </div>
<% end %>
