<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mt-3 fixed-bottom">
      <% if notice.present? %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
  
      <% if alert.present? %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
